#header {
  margin-top: 4em;
}

// disable all input[number] spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span.delta-gpa {
  &.good {
    color: green;
  }
  &.bad {
    color: red;
  }
}

// styles for the calculator

#calculator .section {
  font-size: 28px;
  input {
    width: 100%;
  }
  input, span.number {
    font-size: 42px;
    font-weight: bold;
  }
  span.delta-gpa {
    font-size: 24px;
  }
}

// styles for the table entering new credits

$pad-btwn-rows: 0em;

div.credit.row {
  &:first-child {
    padding-bottom: $pad-btwn-rows;
  }
  &:not(:first-child) {
    padding: $pad-btwn-rows 0;
  }
  border-bottom: 1px solid #ddd;
}
div.add-button.row {
  &:not(:only-child) {
    padding-top: $pad-btwn-rows;
  }
}
