#main {
  max-width: 800px;
  margin: 2em auto;
}

// disable all input[number] spinners
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delta-gpa {
  &.good {
    color: green;
  }
  &.bad {
    color: red;
  }
}

#credits {
  font-size: 40px;
  button {
    font-size: 30px;
    font-weight: bold;
  }

  input {
    &[type=number] {
      width: 2em;
    }
  }
  input.coursename, button {
    width: 100%;
  }

  span.my-label {
    font-weight: bold;
  }

  div.credit {
    padding: 15px 0;
    &:nth-child(odd) { background-color: #ccc; }
    &:nth-child(even) { background-color: #eee; }
    div.group {
      padding-bottom: 0.2em;
    }
  }
}
