<h1>More credits</h1>

<div class='section'>
  <div class='cgpa row'>
    <div class='col-md-12'>
      <span class='my-label'>Your cumulative GPA</span>
      <span class='number gpa'>{{ cumu.gpa() | number: 3 }}</span>
      <span class='delta-gpa'>{{ deltaGPA() | change }}</span>
    </div>
  </div>

  <div class='total-credits row'>
    <div class='col-md-12'>
      <span class='my-label'>Total number of credits</span>
      <span class='number credits'>{{ cumu.credits() }}</span>
    </div>
  </div>
</div>

<div class='section panel-body additional-info'>
  <div class='credit row' ng-repeat='credit in credits'>
    <div class='col-md-12'>
      <label>Grade points</label>
      <input class='gpa' type='number' ng-model='credit.grade'></input>
      <label>Credits</label>
      <input class='credits' type='number' ng-model='credit.credits'></input>
      <input class='coursename' type='text' ng-model='credit.name' placeholder="Course name"></input>
      <button class='btn btn-danger' ng-click='removeCredit($index)'>
        <i class='glyphicon glyphicon-remove'></i>
      </button>
    </div>
  </div><!-- end row -->
  <div class='row add-button'>
    <div class='col-md-12'>
      <button class='add-btn btn btn-default' ng-click='addCredit()'>Add a credit...</button>
    </div>
  </div><!-- end row just for button -->
</div><!-- end calculator controller -->
