<h1>Your GPA</h1>

<div id='credits'>
  <div class='section start-info'>
    <div class='cgpa row'>
      <div class='col-md-12'>
        <span class='my-label'>Your cumulative GPA</span>
        <span class='number gpa'>{{ cumu.gpa() | number: 3 }}</span>
        <span class='delta-gpa' ng-show="deltaGPA() !== 0" ng-class='deltaGPA() >= 0 ? "good" : "bad"'>{{ deltaGPA() | change }}</span>
      </div>
    </div>

    <div class='total-credits row'>
      <div class='col-md-12'>
        <span class='my-label'>Total number of credits</span>
        <span class='number credits'>{{ cumu.credits() }}</span>
      </div>
    </div>
  </div>

  <div class='section additional-info'>
    <div credit class='credit row' ng-repeat='credit in credits'
      ng-mouseenter='enableHover($index)'
      ng-mouseleave='enableHover(-1)'>
      <div class='group' ng-class='hover($index) ? "col-md-10" : "col-md-12"'>
        <input class='coursename' type='text' ng-model='credit.name' placeholder="Course name"></input>
      </div>
      <div ng-show='hover($index)' class='group col-md-2'>
        <button class='remove-button btn btn-danger' ng-click='removeCredit($index)'>
          <i class='glyphicon glyphicon-remove'></i>
        </button>
      </div>
      <div class='group col-md-6'>
        <span class='my-label'>Grade points</span>
        <input class='gpa' my-number ng-model='credit.grade'></input>
      </div>
      <div class='group col-md-6'>
        <span class='my-label'>Credits</span>
        <input class='credits' my-number ng-model='credit.credits'></input>
      </div>
    </div><!-- end row -->
    <div class='row add-button'>
      <div class='col-md-12'>
        <button class='add-btn btn btn-default' ng-click='addCredit()' ng-disabled='addIsDisabled()'>Add a credit...</button>
      </div>
    </div><!-- end row just for button -->
  </div><!-- end calculator controller -->
</div><!-- end #credits -->
